$primary: hsl(257, 59%, 40%);
$secondary: hsla(287, 73%, 60%, 0.315);
$third: hsl(214, 59%, 40%);
$white: hsl(0, 0%, 100%);
$done: hsl(120, 95%, 63%);
$done-hover: hsl(120, 99%, 36%);
$trash: hsl(0, 98%, 57%);
$trash-hover: hsl(0, 100%, 39%);
$hover-white: hsl(0, 0%, 75%);
